{% extends "base.html" %}
{% block content %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br> <br>
        <h1  id = 'Home' class="header center yellow-text big ">Hematopathology eTutorial</h1>
        <div class="row center">
          <h2 class="header col s12 white-text"></h2>
        </div>
        <div class="row center">
	  </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/images/TitlePage4.jpg"></div>
  </div>

    <br><br>
  <div class="container">
    <div class = "subtitle" id = 'About' class= "section">
        <h4 class = "subsection">About</h4>
        <p style = "font-family:arial,paramond,serif;font-size:23px;font-style:italic:;color:teal;">Hematopathology eTutorial is a study guide for hematopathology. The course covers benign and neoplastic hematolymphoid diseases in 24 lessons. Each lesson includes an outline-style study note, figures and tables, full-size digital photomicrographs, and audio narrative by an expert hematopathologist. This course can be used as supplemental material to the standard textbooks for pathology residents and fellows, for preparation of clinical pathology and hematology (pathology) board examinations, and as a handbook for pathologists and hematologists/oncologists.</p>
    </div>

      <br>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="../static/images/path-image/Picture1.jpg" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="../static/images/path-image/Picture2.JPG" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="../static/images/path-image/Picture3.jpg" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="../static/images/path-image/Picture4.jpg" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="../static/images/path-image/Picture5.jpg" style="width:100%">
  </div>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

    <h4 class = "subsection" class = "subtitle" id = 'Lessons'>Lessons</h4>

      <button type="button" class="collapsible">Table of Contents</button>
      <div class="content">
            <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes/Table+of+Contents.pdf">Table of Contents</a></li>
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 1 &nbsp &nbsp Anemia</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+1.++Anemia+v3.pdf">Study Notes - Anemia</a></li>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Audio+Files/Anemia+part+1.mp3">Audio Narrative - Anemia Part 1 - by Jerald Gong</a></li>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Audio+Files/Anemia+part+2.mp3">Audio Narrative - Anemia Part 2 - by Jerald Gong</a></li>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Audio+Files/Anemia+Part+3.mp3">Audio Narrative - Anemia Part 3 - by Jerald Gong</a></li>	
            <li><a href="/files/01.01+Blood+-+Iron+deficiency+anemia.svs" target="_blank">Slide 01.01 Iron deficiency anemia</a></li>
            <li><a href="/files/01.03+Blood+-+Megaloblastic+anemia.svs" target="_blank">Slide 01.03 Megaloblastic anemia</a></li>
            <li><a href="/files/01.04+WAHA.svs" target="_blank">Slide 01.04 Warm antibody hemolyic anemia</a></li>
            <li><a href="/files/01.05+Blood+-+Cold+agglutinin+disease.svs" target="_blank">Slide 01.05 Cold antibody hemolytic anemia</a></li>
            <li><a href="/files/01.06+Blood+-+Microagniopathic+hemolytic+anemia.svs" target="_blank">Slide 01.06 Microangiopathic hemolytic anemia</a></li>
            <li><a href="/files/01.07+AA.svs" target="_blank">Slide 01.07 Aplastic anemia</a></li>
            <li><a href="/files/01.08+Pure+red+cell+aplasia+with+Parva+B19.svs" target="_blank">Slide 01.08 Pure red cell aplasia with Parva B19</a></li>
            <li><a href="/files/01.10+Blood+-+Sickle+cell+anemia.svs" target="_blank">Slide 01.10 Sickle cell anemia</a></li>
            <li><a href="/files/01.11+Blood+-+Hemoglobin+SC+disease.svs" target="_blank">Slide 01.11 Hemoglobin SC disease</a></li>
            <li><a href="/files/01.12+Blood+-+Beta+thalassemia+major.svs" target="_blank">Slide 01.12 Beta thalassemia</a></li>
            <li><a href="/files/01.13+Hemoglobin+H+disease.svs" target="_blank">Slide 01.13 Hemoglobin H disease</a></li>	    
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 2 &nbsp &nbsp Non-Neoplastic White Blood Cell Disorders</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+2.++Non-neoplastic+white+blood+cell+disorders+v3.pdf">Study Notes - Non-Neoplastic White Blood Cell Disorders</a></li>
	    <li><a href="/files/02.01+Blood+-+Inflammation.svs" target="_blank">Slide 02.01 Inflammation</a></li>
	    <li><a href="/files/02.02+Sepsis.svs" target="_blank">Slide 02.02 Sepsis</a></li>
	    <li><a href="/files/02.03+Blood+-+Alder-Reilly+anomaly.svs" target="_blank">Slide 02.03 Alder-Reilly anomaly</a></li>
            <li><a href="/files/02.05+Blood+-+MYH9-related+disorder.svs" target="_blank">Slide 02.05 MYH9-related disorder</a></li>
            <li><a href="/files/02.08+Blood+-+Infectious+mononucleosis.svs" target="_blank">Slide 02.08 Infectious mononucleosis</a></li>
            <li><a href="/files/02.09+Blood+-+Large+granular+lymphocytosis.svs" target="_blank">Slide 02.09 Large granular lymphocytosis</a></li>
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 3 &nbsp &nbsp Bleeding and Clotting Disorders</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+3.++Bleeding+and+clotting+disorders+v3.pdf">Study Notes - Bleeding and Clotting Disorders</a></li>
	    <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+3/03.01+Coag+Cascade.pdf">Figure 03.01 Coagulation cascade</a></li>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+3/03.05+Platelet+Aggregation+Assay.pdf">Figure 03.05 Platelet aggregation assay</a></li>
            <li><a href="/files/03.06+Bernard-Soulier+syndrome.svs" target="_blank">Figure 03.06 Bernard-Soulier syndrome</a></li>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+3/03.07+Mechanism+of+common+bleeding+and+clotting+disorders.pdf">Figure 03.07 Mechanisms of common bleeding and clotting disorders</a></li>
	    <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+21/Lesson+21.++Histiocytic+and+dendritic+cell+lesions.pdf">Audio Narrative - Coming soon</a></li>
	  </ul>
      </div>

    <button type="button" class="collapsible">Lesson 4 &nbsp &nbsp Non-Neoplastic Bone Marrow Disorders</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+4.++Non-neoplastic+bone+marrow+diorders+v3.pdf">Study Notes - Non-Neoplastic Bone Marrow Diorders</a></li>
	    <li><a href="/files/04.01+Gaucher+disease.svs" target="_blank">Slide 04.01 Gaucher disease</a></li>
            <li><a href="/files/04.02+Gaucher+disease.svs" target="_blank">Slide 04.02 Gaucher disease</a></li>
            <li><a href="/files/04.03+Increased+histiocytes+in+multiple+myeloma.svs" target="_blank">Slide 04.03 Inceased histiocytes in multiple myeloma</a></li>
            <li><a href="/files/04.04+Sarcoid.svs" target="_blank">Slide 04.04 Sarcoidosis</a></li>
            <li><a href="/files/04.07+Macrophage+activating+syndrome.svs" target="_blank">Slide 04.07 Macrophage activation syndrome</a></li>
            <li><a href="/files/4.8+Macraphage+activating+syndrome.svs" target="_blank">Slide 04.08 Macrophage activation syndrome</a></li>
            <li><a href="/files/04.09+Hemophagocytic+lymphohistiocytosis.svs" target="_blank">Slide 04.09 Hemophagocytic lymphohistiocytosis</a></li>
        </ul>
      </div>

      <button type="button" class="collapsible">Lesson 5 &nbsp &nbsp Reactive Lymph Node Diseases</button>
      <div class="content">
           <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+5.++Reactive+lymph+node+diseases+v3.pdf">Study Notes - Reactive Lymph Node Diseases</a></li>
            <li><a href="/files/5.01+Infectious+mononucleosis.svs" target="_blank">Slide 05.01 Infectious mononucleosis</a></li>
            <li><a href="/files/5.02+HIV+early+stage.svs" target="_blank">Slide 05.02 HIV early stage</a></li>
            <li><a href="/files/5.03+HIV+late+stage.svs" target="_blank">Slide 05.03 HIV late stage</a></li>
            <li><a href="/files/5.06+Cat+scratch+disease.svs" target="_blank">Slide 05.06 Cat scratch disease</a></li>
            <li><a href="/files/5.07+Tuberculosis+lymphadenitis.svs" target="_blank">Slide 05.07 Tuberculosis lymphadenitis</a></li>
            <li><a href="/files/5.09+Mycobacterial+spindle+cell+pseudotumor.svs" target="_blank">Slide 05.09 Mycobacyterial spindle cell tumor</a></li>
            <li><a href="/files/5.10+Toxoplasmosis.svs" target="_blank">Slide 05.10 Toxoplasmosis</a></li>
            <li><a href="/files/5.11+Lupus+lymphadenitis.svs" target="_blank">Slide 05.11 Lupus lymphadenitis</a></li>
            <li><a href="/files/5.12+Rheumatoid+arthritis+associated+lymphadenitis.svs" target="_blank">Slide 05.12 Rheumatoid arthritis-associated lymphadenitis</a></li>
            <li><a href="/files/5.13+IgG+4-related+lymphadenopathy+type+2.svs" target="_blank">Slide 05.13 IgG4-associated lymphadenitis type 2</a></li>
            <li><a href="/files/5.14+Kikuchi+disease+early+stage.svs" target="_blank">Slide 05.14 Kikuchi disease early stage</a></li>
            <li><a href="/files/5.15+Kikuchi+disease+late+stage.svs" target="_blank">Slide 05.15 Kikuchi disease late stage</a></li>
            <li><a href="/files/5.16+Kimura+disease.svs" target="_blank">Slide 05.16 Kimura disease</a></li>
            <li><a href="/files/5.17+Sarcoidosis.svs" target="_blank">Slide 05.17 Sarcoidosis</a></li>
            <li><a href="/files/5.18+Unicentric+Castleman+disease+hyaline+vascular+type.svs" target="_blank">Slide 05.18 Unicentric Castleman disease hyaline vascular type</a></li>
            <li><a href="/files/5.19+Multicentric+Castleman+disease+mixed+plasma+cell+and+hyaline+vascular+type.svs" target="_blank">Slide 05.19 Multicentric Castleman disease mixed type</a></li>
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 6 &nbsp &nbsp Small B-Cell Lymphoma</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+6.++Small+B-cell+lymphomas+v3.pdf">Study Notes - Small B-Cell Lymphoma</a></li>
	    <li><a href="/files/06.01+Follicular+lymphoma+grade+1.svs" target="_blank">Slide 06.01 Follicular lymphoma grade 1</a></li>
            <li><a href="/files/06.02+Follicular+lymphoma+grade+2.svs" target="_blank">Slide 06.02 Follicular lymphoma grade 2</a></li>
            <li><a href="/files/06.03+Follicular+lymphoma+grade+3A.svs" target="_blank">Slide 06.03 Follicular lymphoma grade 3A</a></li>
            <li><a href="/files/06.04+Follicular+lymphoma+grade+3B.svs" target="_blank">Slide 06.04 Follicular lymphoma grade 3B</a></li>
            <li><a href="/files/06.05+Follicular+lymphoma+in+blood.svs" target="_blank">Slide 06.05 Follicular lymphoma involving peripheral blood</a></li>
            <li><a href="/files/06.06+B-cell+lymphoma+with+IFR4+rearrangement.svs" target="_blank">Slide 06.06 B-cell lymphoma with IRF4 rearrangement</a></li>
            <li><a href="/files/06.07+Diffuse+follicular+lymphoma+with+1p36+deletion.svs" target="_blank">Slide 06.07 Diffuse follicular lymphoma 1p36 deletion</a></li>
            <li><a href="/files/06.08+Primary+cutaneous+follicular+lymphoma.svs" target="_blank">Slide 06.08 Primary cutaneous follicular lymphoma</a></li>
            <li><a href="/files/06.09+Primary+duodenal+follicular+lymphoma.svs" target="_blank">Slide 06.09 Primary duodenal follicular lymphoma</a></li>
	    <li><a href="/files/06.10+Pediatric+type+follicular+lymphoma.svs" target="_blank">Slide 06.10 Follicular lymphoma, pediatric type</a></li>
            <li><a href="/files/06.11+Follicular+lymphoma+involving+bone+marrow.svs" target="_blank">Slide 06.11 Follicular lymphoma involving bone marrow</a></li>
	    <li><a href="/files/06.12+Small+lymphocytic+lymphoma.svs" target="_blank">Slide 06.12 Small lymphocytic lymphoma</a></li>
            <li><a href="/files/06.13+Small+lymphocytic+lymphoma+with+increased+prolymphocytes.svs" target="_blank">Slide 06.13 Small lymphocytic lymphoma with enhanced proliferation centers</a></li>
            <li><a href="/files/06.14+Small+lymphocytic+lymphoma+with+Richter's+transformation.svs" target="_blank">Slide 06.14 Small lymphocytic lymphoma with Richter's transformation</a></li>
            <li><a href="/files/06.15+Mantle+cell+lymphoma%2C+diffuse+pattern.svs" target="_blank">Slide 06.15 mantle cell lymphoma diffuse pattern</a></li>
            <li><a href="/files/06.16+Mantle+cell+lymphoma%2C+nodular+pattern.svs" target="_blank">Slide 06.16 Mantle cell lymphoma nodular pattern</a></li>
            <li><a href="/files/06.17+Mantle+cell+lymphoma%2C+mantle+zone+pattern.svs" target="_blank">Slide 06.17 Mantle cell lymphoma mantle zone pattern</a></li>
            <li><a href="/files/06.19+Intestinal+mantle+cell+lymphoma.svs" target="_blank">Slide 06.19 Intestinal mantle cell lymphoma</a></li>
            <li><a href="/files/06.20+Lymphoplasmacytic+lymphoma+in+bone+marrow.svs" target="_blank">Slide 06.20 Lymphoplasmacytic lymphoma, bone marrow</a></li>
            <li><a href="/files/06.21+Nodal+lymphoplasmacytic+lymphoma.svs" target="_blank">Slide 06.21 Lymphoplasmacytic lymphoma, lymph node</a></li>
            <li><a href="/files/06.22+Nodal+marginal+zone+lymphoma%2C+marginal+zone+pattern.svs" target="_blank">Slide 06.22 Nodal marginal zone lymphoma, marginal zone pattern</a></li>
            <li><a href="/files/06.23+Nodal+marginal+zone+lymphoma%2C+with+residual+germinal+centers.svs" target="_blank">Slide 06.23 Nodal marginal zone lymphoma, with residual germinal centers</a></li>
            <li><a href="/files/06.24+Nodal+marginal+zone+lymphoma+with+plasma+cell+differentiation.svs" target="_blank">Slide 06.24 Nodal marginal zone lymphoma, with plasma cell differentiation</a></li>
            <li><a href="/files/06.25+Splenic+marginal+zone+lymphoma.svs" target="_blank">Slide 06.25 Splenic marginal zone lymphoma</a></li>
            <li><a href="/files/06.26+Splenic+marginal+zone+lymphoma+in+blood.svs" target="_blank">Slide 06.26 Splenic marginal zone lymphoma in circulation</a></li>
            <li><a href="/files/06.27+Gastric+MALT+lymphoma.svs" target="_blank">Slide 06.27 Gastric MALT lymphoma</a></li>
            <li><a href="/files/06.28+Lung+MALT+lymphoma.svs" target="_blank">Slide 06.28 Lung MALT lymphoma</a></li>
            <li><a href="/files/06.29+Salivary+gland+MALT+lymphoma.svs" target="_blank">Slide 06.29 Salivary gland MALT lymphoma</a></li>
            <li><a href="/files/06.30+Orbital+MALT+lymphoma.svs" target="_blank">Slide 06.30 Orbital MALT lymphoma</a></li>
            <li><a href="/files/06.31+Cutaneous+marginal+zone+lymphoma.svs" target="_blank">Slide 06.31 Cutaneous marginal zone lymphoma</a></li>		    		    
    </ul>
      </div>

    <button type="button" class="collapsible">Lesson 7 &nbsp &nbsp Chronic Leukemia of Lymphoid Lineage</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+7.++Chronic+leukemia+of+lymphoid+lineage+v3.pdf">Study Notes - Chronic Leukemia of Lymphoid Lineage</a></li>
            <li><a href="/files/07.01+Blood+-+Chronic+lymphocytic+leukemia.svs" target="_blank">Slide 07.01 Chronic lymphocytic leukemia</a></li>
            <li><a href="/files/07.02+Bone+marrow+-+Chronic+lymphocytic+leukemia.svs" target="_blank">Slide 07.02 Chronic lymphocytic leukemia</a></li>
            <li><a href="/files/07.03+Blood+-+Prolymphocytic+leukemia.svs" target="_blank">Slide 07.03 Prolymphocytic leukemia</a></li>
            <li><a href="/files/07.04+Blood+-+Mantle+cell+leukemia.svs" target="_blank">Slide 07.04 Mantle cell leukemia</a></li>
            <li><a href="/files/07.05+Blood+-+Hairy+cell+leukemia.svs" target="_blank">Slide 07.05 Hairy cell leukemia</a></li>
            <li><a href="/files/07.06+Bone+marrow+-+Hairy+cell+leukemia.svs" target="_blank">Slide 07.06 Hairy cell leukemia</a></li>
            <li><a href="/files/07.07+Spleen+-+Hairy+cell+leukemia.svs" target="_blank">Slide 07.07 Hairy cell leukemia, spleen</a></li>
            <li><a href="/files/07.08+Blood+-+Splenic+marginal+zone+lymphoma.svs" target="_blank">Slide 07.08 Splenic marginal zone lymphoma</a></li>
            <li><a href="/files/07.09+Blood+-+Splenic+red+pulp+small+B-cell+lymphoma.svs" target="_blank">Slide 07.09 Splenic red pulp small B-cell lymphoma</a></li>
            <li><a href="/files/07.10+Blood+-+T-prolymphocytic+leukemia+CD8%2B.svs" target="_blank">Slide 07.10 T-prolymphocytic leukemia</a></li>
            <li><a href="/files/07.11+Blood+-+T-cell+prolymphocytic+leukemia%2C+small+cell+variant.svs" target="_blank">Slide 07.11 T-prolymphocytic leukemia, small cell variant</a></li>
            <li><a href="/files/07.12+Blood+-+T-cell+large+granular+lymphocytic+leukemia.svs" target="_blank">Slide 07.12 T-cell large granular lymphocytic leukemia</a></li>
            <li><a href="/files/07.13+Bone+marrow+-+T-cell+large+granular+lymphocytic+leukemia.svs" target="_blank">Slide 07.13 T-cell large granular lymphocytic leukemia</a></li>
            <li><a href="/files/07.14+Blood+-+Acult+T-cell+leukemia.svs" target="_blank">Slide 07.14 Adult T-cell leukemia/lymphoma</a></li>	   		   		    
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 8 &nbsp &nbsp Diffuse Large B-Cell Lymphoma and Variants</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+8.++Diffuse+large+B-cell+lymphoma+and+variants+v3.pdf">Study Notes - Diffuse Large B-Cell Lymphoma and Variants</a></li>
	    <li><a href="/files/8.01+Diffuse+large+B-cell+lymphoma%2C+NOS%2C+centroblastic.svs" target="_blank">Slide 08.01 Diffuse large B-cell lymphoma, immunoblastic</a></li>	   		   		    
            <li><a href="/files/8.02+Diffuse+large+B-cell+lymphoma%2C+NOS%2C+immunoblastic.svs" target="_blank">Slide 08.02 Diffuse large B-cell lymphoma, centroblastic</a></li>	   		   		    
            <li><a href="/files/8.03+Diffuse+large+B-cell+lymphoma%2C+NOS%2C+anaplastic.svs" target="_blank">Slide 08.03 Diffuse large B-cell lymphoma, anaplastic</a></li>	   		   		    
            <li><a href="/files/8.04+High+grade+B-cell+lymphoma%2C+NOS.svs" target="_blank">Slide 08.04 High grade B-cell lymphoma</a></li>	   		   		    
            <li><a href="/files/8.05+Primary+mediastinal+large+B-cell+lymphoma.svs" target="_blank">Slide 08.05 Primary mediastinal large B-cell lymphoma</a></li>	   		   		    
            <li><a href="/files/8.06+Bone+marrow+-+T-cell-histiocytic+rich+large+B-cell+lymphoma.svs" target="_blank">Slide 08.06 T-cell histiocyte rich large B-cell lymphoma</a></li>	   		   		    
            <li><a href="/files/8.07+Bone+marrow+-+Intravascular+large+B-cell+lymphoma.svs" target="_blank">Slide 08.07 Intravascular large B-cell lymphoma</a></li>	   		   		    
            <li><a href="/files/8.08+Primary+cutaneous+large+B-cell+lymphoma+leg+type.svs" target="_blank">Slide 08.08 Primary cutaneous large B-cell lymphoma leg type</a></li>	   		   		    
            <li><a href="/files/8.09+Primary+effusion+lymphoma.svs" target="_blank">Slide 08.09 Primary effusion lymphoma</a></li>	   		   		    
            <li><a href="/files/8.10+Primary+central+nervous+system+lymphoma.svs" target="_blank">Slide 08.10 Primary central nervous system lymphoma</a></li>	   		   		    
            <li><a href="/files/8.11+Lymphatoid+granulomatosis+grade+3+lung.svs" target="_blank">Slide 08.11 Lymphomatoid granulomatosis grade 3, lung</a></li>	   		   		    
            <li><a href="/files/8.12+Gray+zone+lymphoma+intermediate+between+Hodgkin+lymphoma+and+diffuse+large+B-cell+lymphoma.svs" target="_blank">Slide 08.12 Gray zone lymphoma, intermediate between Hodgkin and DLBCL</a></li>	   		   		    
            <li><a href="/files/8.13+Primary+testicular+diffuse+large+B-cell+lymphoma.svs" target="_blank">Slide 08.13 Primary testicular large B-cell lymphoma</a></li>	   		   		      
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 9 &nbsp &nbsp Burkitt Lymphoma and Lymphoblastic Lymphoma/Leukemia</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+9.++Burkitt+lymphoma+and+lymphoblastic+leukemia-lymphoma+v3.pdf">Study Notes - Burkitt Lymphoma and Lymphoblastic Lymphoma/leukemia</a></li>
            <li><a href="/files/9.01+Small+intestine+-+Burkitt+lymphoma.svs" target="_blank">Slide 09.01 Burkitt lymphoma</a></li>
            <li><a href="/files/9.04+Blood+-+B-lymphoblastic+leukemia-lymphoma.svs" target="_blank">Slide 09.04 B-lymphoblastic leukemia lymphoma</a></li>
            <li><a href="/files/9.05+Bone+marrow+-+B-lymphoblastic+leukemia-lymphoma.svs" target="_blank">Slide 09.05 B-lymphoblastic leukemia lymphoma</a></li>
            <li><a href="/files/9.06+Bone+marrow+-+B-lymphoblastic+leukemia-lymphoma.svs" target="_blank">Slide 09.06 B-lymphoblastic leukemia lymphoma</a></li>
            <li><a href="/files/9.07+Lymph+node+-+B-lymphoblastic+lymphoma.svs" target="_blank">Slide 09.07 B-lymphoblastic lymphoma</a></li>
            <li><a href="/files/9.08+Blood+-+T-lymphoblastic+leukemia-lymphoma.svs" target="_blank">Slide 09.08 T-lymphoblastic leukemia lymphoma</a></li>
            <li><a href="/files/9.10+Bone+marrow+-+T-lymphoblastic+leukemia-lymphoma.svs" target="_blank">Slide 09.10 T-lymphoblastic leukemia lymphoma</a></li>
            <li><a href="/files/9.11+Thymus+-+T-lymphoblastic+lymphoma.svs" target="_blank">Slide 09.11 T-lymphoblastic lymphoma</a></li>
            <li><a href="/files/9.12+Lymph+node+-+T-lymphoblastic+lymphoma.svs" target="_blank">Slide 09.12 T-lymphoblastic lymphoma</a></li>    
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 10 &nbsp &nbsp Peripheral T-Cell Lymphoma</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+10.++Peripheral+T-cell+lymphoma+v3.pdf">Study Notes - Peripheral T-Cell Lymphoma</a></li>
	    <li><a href="/files/10.01+Peripheral+T-cell+lymphoma+NOS.svs" target="_blank">Slide 10.01 Peripheral T-cell lymphoma NOS</a></li>
            <li><a href="/files/10.02+Lennert+lymphoma.svs" target="_blank">Slide 10.02 Lennert lymphoma</a></li>
            <li><a href="/files/10.03+Angioimmunoblastic+T-cell+lymphoma.svs" target="_blank">Slide 10.03 Angioimmunoblastic T-cell lymphoma</a></li>
            <li><a href="/files/10.04+Follicular+helper+T-cell+lymphoma.svs" target="_blank">Slide 10.04 Follicular helper T-cell lymphoma</a></li>
            <li><a href="/files/10.06+Anaplastic+large+cell+lymphoma%2C+ALK+positive.svs" target="_blank">Slide 10.06 Anaplastic large cell lymphoma ALK positive</a></li>
            <li><a href="/files/10.07+Anaplastic+large+cell+lymphoma%2C+ALK+negative.svs" target="_blank">Slide 10.07 Anaplastic large cell lymphoma ALK negative</a></li>
            <li><a href="/files/10.08+Anaplastic+large+cell+lymphoma+breast+implant-associated.svs" target="_blank">Slide 10.08 Anaplastic large cell lymphoma breast implant associated</a></li>
            <li><a href="/files/10.09+Adult+T-cell+lymphoma-leukemia.svs" target="_blank">Slide 10.09 Adult T-cell lymphoma leukemia</a></li>
            <li><a href="/files/10.10+Hepatosplenic+T-cell+lymphoma.svs" target="_blank">Slide 10.10 Hepatosplenic T-cell lymphoma</a></li>
            <li><a href="/files/10.11+Extranodal+NK-T+cell+lymphoma.svs" target="_blank">Slide 10.11 Extranodal NK-T cell lymphoma</a></li>
            <li><a href="/files/10.12+Monomorphic+epitheliotropic+intestinal+T-cell+lymphoma.svs" target="_blank">Slide 10.12 Monomorphic epitheliotropic intestinal T-cell lymphoma</a></li>	    
            <li><a href="/files/10.13+Enteropathy-associated+intestinal+T-cell+lymphoma.svs" target="_blank">Slide 10.13 Enteropathy-associated intestinal T-cell lymphoma</a></li>	    
            <li><a href="/files/10.14+Indolent+T-cell+LPD+of+GI+tract.svs" target="_blank">Slide 10.14 Indolent T-cell lymphoproliferative disorder of gastrointestinal tract</a></li>	    
	  </ul>
      </div>

    <button type="button" class="collapsible">Lesson 11 &nbsp &nbsp Cutaneous Lymphoma</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+11.++Cutaneous+lymphoma+v3.pdf">Study Notes - Cutaneous Lymphomas</a></li>
	    <li><a href="/files/11.01+Mycosis+fungoides%2C+patch+stage.svs" target="_blank">Slide 11.01 Mycosis fungoides patch stage</a></li>
            <li><a href="/files/11.02+Mycosis+fungoides%2C+plaque+stage.svs" target="_blank">Slide 11.02 Mycosis fungoides plaque stage</a></li>
            <li><a href="/files/11.03+Mycosis+fungoides%2C+tumor+stage+(transformed+to+large+cell+type).svs" target="_blank">Slide 11.03 Mycosis fungoides tumor stage</a></li>
            <li><a href="/files/11.04+Sezary+syndrome.svs" target="_blank">Slide 11.04 Sezary syndrome</a></li>
            <li><a href="/files/11.05+Primary+cutaneous+marginal+lymphoma.svs" target="_blank">Slide 11.05 Primary cutaneous marginal zone lymphoma</a></li>
            <li><a href="/files/11.06+Primary+cutaneous+marginal+zone+lymphoma+with+plasma+cell+differentiation.svs" target="_blank">Slide 11.06 Primary cutaneous marginal zone lymphoma with plasma cell differentiation</a></li>
            <li><a href="/files/11.07+Primary+cutaneous+follicular+lymphoma%2C+diffuse.svs" target="_blank">Slide 11.07 Primary cutaneous follicular lymphoma diffuse pattern</a></li>
            <li><a href="/files/11.08+Primary+cutaneous+large+B-cell+lymphoma%2C+leg+type.svs" target="_blank">Slide 11.08 Primary cutaneous diffuse large B-cell lymphoma leg type</a></li>
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 12 &nbsp &nbsp Hodgkin Lymphoma</button>
      <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+12.++Hodgkin+lymphoma+v3.pdf">Study Notes - Hodgkin Lymphoma</a></li>
	    <li><a href="/files/12.01+Nodular+sclerosis+cHL.svs" target="_blank">Slide 12.01 Classical Hodgkin lymphoma nodular scleosis type</a></li>
            <li><a href="/files/12.03+Mixed+cellularity+cHL.svs" target="_blank">Slide 12.02 Classical Hodgkin lymphoma mixed cellularity type</a></li>
            <li><a href="/files/12.07+Lymphocyte+rich+cHL.svs" target="_blank">Slide 12.03 Classical Hodgkin lymphoma lymphocyte rich type</a></li>
            <li><a href="/files/12.08+Lymphocyte+depleted+cHL.svs" target="_blank">Slide 12.04 Classical Hodgkin lymphoma lymphocyte depleted type</a></li>
            <li><a href="/files/12.09+Nodular+lymphocyte+predominant+HL.svs" target="_blank">Slide 12.05 Nodular lymphocyte predominant Hodgkin lymphoma</a></li>
            <li><a href="/files/12.10+Nocular+lymphocyte+predominant+HL.svs" target="_blank">Slide 12.06 Nodular lymphocyte predominant Hodgkin lymphoma</a></li>
            <li><a href="/files/12.11+Progressive+transformation+of+germinal+center.svs" target="_blank">Slide 12.07 Progressive transformation of germinal center</a></li>
        </ul>
      </div>

    <button type="button" class="collapsible">Lesson 13 &nbsp &nbsp Plasma Cell Myeloma, MGUS, and Systemic Amyloidosis</button>
       <div class="content">
          <ul>
            <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+13.++Plasma+cell+myeloma+%2C+MGUS%2C+and+Systemic+Amyloidosis+v3.pdf">Study Notes - Plasma Cell Myeloma, MGUS, and Systemic Amyloidosis</a></li>
	    <li><a href="/files/13.02+Bone+marrow+-+Plasma+cell+myeloma+biopsy.svs" target="_blank">Slide 13.02 Plasma cell myeloma</a></li>
            <li><a href="/files/13.04+Bone+marrow+-+Plasma+cell+myeloma+plasmablast+type+biopsy.svs" target="_blank">Slide 13.04 Plasma cell myeloma, plasmablastic</a></li>
            <li><a href="/files/13.05+Bone+marrow+-+Plasma+cell+myeloma+small+cell+type+aspirate.svs" target="_blank">Slide 13.05 Plasma cell myeloma, small cell</a></li>
            <li><a href="/files/13.07+Bone+marrow+-+Plasma+cell+myeloma+Russel+and+Dutcher+bodies.svs" target="_blank">Slide 13.07a Plasma cell myeloma with Dutcher bodies</a></li>
            <li><a href="/files/13.07b+Bone+marrow+-+Plasma+cell+myeloma+with+Russel+bodies.svs" target="_blank">Slide 13.07b Plasma cell myeloma with Russel bodies</a></li>
	    <li><a href="/files/13.08+Bone+marrow+-+Plasma+cell+myeloma+flame+cells.svs" target="_blank">Slide 13.08 Flame cells</a></li>
            <li><a href="/files/13.09+Blood+-+Plasma+cell+leukemia.svs" target="_blank">Slide 13.09 Plasma cell leukemia</a></li>
            <li><a href="/files/13.10+Bone+marrow+-+Systemic+amyloidosis.svs" target="_blank">Slide 13.10 Systemic amyloidosis</a></li>
            <li><a href="/files/13.11+Lymph+node+-+Systemic+amyloidosis.svs" target="_blank">Slide 13.11 Systemic amyloidosis involving lymph node</a></li>     
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 14 &nbsp &nbsp Lymphoid Disorders Associated with Immune Deficiency and Immune Suppression</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+14.++Lymphoid+disorders+associated+with+immune+deficiency+and+immune+suppression+v3.pdf">Study Notes - Lymphoid Disorders Associated With Immune Deficiency and Immune Suppression</a></li>
	     <li><a href="/files/14.02+Post-transplant+lymphoproliferative+disorder%2C+polymorphic+type.svs" target="_blank">Slide 14.02 Post-transplant lymphoproliferative disorder polymorphic type</a></li>     
             <li><a href="/files/14.03+Post-transplant+lymphoproliferative+disorder%2C+monomorphic+type.svs" target="_blank">Slide 14.03 Post-transplant lymphoproliferative disorder monomorphic type</a></li>     
             <li><a href="/files/14.04+HIV-associated+lymphoid+hyperplasia%2C+early+stage%2C+follicular+hyperplasia.svs" target="_blank">Slide 14.04 HIV-associated lymphoid hyperplasia early stage follicular hyperplasia</a></li>     
             <li><a href="/files/14.05+HIV-associated+lymphoid+hyperplasia%2C+late+stage%2C+follicular+involute+stage.svs" target="_blank">Slide 14.05 HIV-associated lymphoid hyperplasia late stage follicular involution</a></li>     
             <li><a href="/files/14.05a+HIV-associated+Castleman+Disease.svs" target="_blank">Slide 14.05a 14.05a HIV-associated Castleman disease</a></li>     
             <li><a href="/files/14.06+HIV-associated+lymphoid+hyperplasia%2C+late+stage%2C+lymphocyte+deplete.svs" target="_blank">Slide 14.06 HIV-associated lymphoid hyperplasia late stage follicular depletion</a></li>     
             <li><a href="/files/14.07+HIV-associated+lymphoid+hyperplasia%2C+follicle+lysis.svs" target="_blank">Slide 14.07 HIV-associated lymphoid hyperplasia follicle lysis</a></li>     
             <li><a href="/files/14.08+HIV-associated+Kaposi+sarcoma.svs" target="_blank">Slide 14.08 HIV-associated Kaposi sarcoma</a></li>     
             <li><a href="/files/14.09+HIV-associated+lymphoepithelial+cyst.svs" target="_blank">Slide 14.09 HIV-associated lymphoepithelial cyst</a></li>     
             <li><a href="/files/14.11+Fatal+infectious+mononucleosis+in+severe+combined+immunodeficiency.svs" target="_blank">Slide 14.11 Fatal infectious mononucleosis in severe combined immunodeficiency</a></li>		     
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 15 &nbsp &nbsp Myeloproliferative Neoplasm</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+15.++Myeloproliferative+neoplasm+v3.pdf">Study Notes - Myeloproliferative Neoplasm</a></li>
	     <li><a href="/files/15.01+Blood+-+Chronic+myeloid+leukemia%2C+chronic+phase.svs" target="_blank">Slide 15.01 Chronic myeloid leukemia chronic phase</a></li>
             <li><a href="/files/15.02+Blood+-+Chronic+myeloid+leukemia%2C+accelerated+phase.svs" target="_blank">Slide 15.02 Chronic myeloid leukemia accelerated phase</a></li>
             <li><a href="/files/15.03+Bone+marrow+aspirate+-+Chronic+myeloid+leukemia+chronic+phase.svs" target="_blank">Slide 15.03 Chronic myeloid leuemia chronic phase</a></li>
	     <li><a href="/files/15.05+Blood+-+Polycythemia+vera.svs" target="_blank">Slide 15.05 Polycythemia vera</a></li>
             <li><a href="/files/15.07+Bone+marrow+biopsy+-+Polycythemia%2C+vera.svs" target="_blank">Slide 15.07 Polycythemia vera</a></li>
             <li><a href="/files/15.10+Bone+marrow+biopsy+-+Essential+thrombocythemia.svs" target="_blank">Slide 15.10 Essential thrombocythemia</a></li>
             <li><a href="/files/15.11+Blood+-+Primary+myelofibrosis.svs" target="_blank">Slide 15.11 Primary myelofibrosis</a></li>
             <li><a href="/files/15.12+Bone+marrow+-+Primary+myelofibrosis+prefibrotic+phase.svs" target="_blank">Slide 15.12 Primary myelofibrosis prefibrotic phase</a></li>
             <li><a href="/files/15.13+Bone+marrow+-+Primary+myelofibrosis+cellular+phase.svs" target="_blank">Slide 15.13 Primary myelofibrosis cellular phase</a></li>
             <li><a href="/files/15.14+Bone+marrow+-+Primary+myelofibrosis+fibrotic+phase.svs" target="_blank">Slide 15.14 Primary myelofibrosis fibrotic phase</a></li>
             <li><a href="/files/15.15+Blood+-+Chronic+neutrophilic+leukemia.svs" target="_blank">Slide 15.15 Chronic neutrophilic leukemia</a></li>
	     <li><a href="/files/15.17+Bone+marrow+-+Myeloproliferative+neoplasm%2C+unclassified.svs" target="_blank">Slide 15.17 Myeloproliferative neoplasm unclassified</a></li>		   
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 16 &nbsp &nbsp Myelodysplastic Syndrome</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+16.++Myelodysplastic+syndrome+v3.pdf">Study Notes - Myelodysplastic Syndrome</a></li>
	     <li><a href="/files/16.01+Blood+-+Myelodysplastic+syndrome+-+dysplastic+neutrophils.svs" target="_blank">Slide 16.01 Myelodysplastic syndrome, dysplastic neutrophils</a></li>
             <li><a href="/files/16.02+Bone+marrow+-+Myelodysplastic+syndrome+with+single+lineage+dysplasia+-+erythroid.svs" target="_blank">Slide 16.02 Myelodysplastic syndrome, erythroid dysplasia</a></li>
             <li><a href="/files/16.03+Bone+marrow+-+Myelodysplastic+syndrome+with+single+lineage+dysplasia+-+megakaryocytic.svs" target="_blank">Slide 16.03 Myelodysplastic syndrome, megakaryocytic dysplasia</a></li>
             <li><a href="/files/16.06+Bone+marrow+-+Myelodysplastic+syndrome+excess+blasts-1.svs" target="_blank">Slide 16.06 Myelodysplastic syndrome with excess blasts-1</a></li>
             <li><a href="/files/16.07+Bone+marrow+aspirate+-+Myelodysplastic+syndrome+excess+blasts-2.svs" target="_blank">Slide 16.07 Myelodysplastic syndrome with excess blasts-2</a></li>
             <li><a href="/files/16.09+Bone+marrow+apirate+-+Myelodysplastic+syndrome+with+ringed+sideroblasts+-+prussian+blue.svs" target="_blank">Slide 16.09 Myeldysplastic syndrome with ringed sideroblasts, Prussian blue stain</a></li>
             <li><a href="/files/16.10+Bone+marrow+-+Myelodysplastic+syndrome+with+-5q.svs" target="_blank">Slide 16.10 Myelodysplastic syndrome with -5q</a></li>    	     
             <li><a href="/files/16.11+Bone+marrow+biopsy+-+Therapt+related+MDS.svs" target="_blank">Slide 16.11 Therapy-related myelodysplastic syndrome</a></li>    	     
	   </ul>
       </div>

     <button type="button" class="collapsible">Lesson 17 &nbsp &nbsp Acute Myeloid Leukemia, Acute Leukemia of Ambiguous Lineage and Dendritic Cell Origin</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+17.++Acute+myeloid+leukemia%2C+acute+leukemias+of+ambiguous+lineage+and+dendritic+cell+origin+v3.pdf">Study Notes - Acute Myeloid Leukemia, Acute Leukemia with Ambiguous Lineage and Dendritic Cell Origin</a></li>
	     <li><a href="/files/17.01+Blood+-+Acute+myeloid+leukemia.svs" target="_blank">Slide 17.01 Acute myeloid leukemia, NOS</a></li>
             <li><a href="/files/17.02+Bone+marrow+aspirate+-+Acute+myeloid+leukemia.svs" target="_blank">Slide 17.02 Acute myeloid leukemia, NOS</a></li>
             <li><a href="/files/17.04+Blood+-+Acute+myelomonocytic+leukemia.svs" target="_blank">Slide 17.04 Acute myelomonocytic leukemia</a></li>
             <li><a href="/files/17.05+Bone+marrow+aspirate+-+Acute+myelomonocytic+leukemia.svs" target="_blank">Slide 17.05 Acute myelomonocytic leukemia</a></li>
             <li><a href="/files/17.06+Blood+-+Acute+monocytic+leukemia%2C+predominantly+promonocytes.svs" target="_blank">Slide 17.06 Acute monocytic leukemia, promonocytes</a></li>
             <li><a href="/files/17.07+Blood+-+Acute+monoblastic+leukemia%2C+prdominantly+monoblasts.svs" target="_blank">Slide 17.07 Acute monocytic leukemia, monoblasts</a></li>
             <li><a href="/files/17.08+Bone+marrow+aspirate+-+Acute+monoblastic+leukemia.svs" target="_blank">Slide 17.08 Acute monoblastic leukemia</a></li>
             <li><a href="/files/17.09+Blood+-+Acute+erythroleukemia.svs" target="_blank">Slide 17.09 Acute erythroleukemia</a></li>
             <li><a href="/files/17.10+Bone+marrow+aspirate+-+Acute+erythroleukemia.svs" target="_blank">Slide 17.10 Acute erythroleukemia</a></li>
             <li><a href="/files/17.11+Bone+marrow+biopsy+-+Acute+erythroleukemia.svs" target="_blank">Slide 17.10 Acute erythroleukemia</a></li>
             <li><a href="/files/17.12+Bone+marrow+biopsy+-+Acute+megakaryoblastic+leukemia.svs" target="_blank">Slide 17.12 Acute megakaryoblastic leukemia</a></li>
             <li><a href="/files/17.13+Blood+-+Acute+promyelocytic+leukemia+with+t(15%3B17).svs" target="_blank">Slide 17.13 Acute promyelocytic leukemia with t(15;17)</a></li>
             <li><a href="/files/17.14+Bone+marrow+aspirate+-+Acute+promyelocytic+leukemia+with+t(15%3B17).svs" target="_blank">Slide 17.14 Acute promyelocytic leukemia with t(15;17)</a></li>
             <li><a href="/files/17.15+Bone+marrow+biopsy+-+Acute+promyelocytic+leukemia+with+t(15%3B17).svs" target="_blank">Slide 17.15 Acute promyelocytic leukemia with t(15;17)</a></li>
             <li><a href="/files/17.16+Bone+marrow+aspirate+-+Acute+myeloid+leukemia+with+t(8%3B21).svs" target="_blank">Slide 17.16 Acute myeloid leukemia with t(8;21)</a></li>
             <li><a href="/files/17.17+Bone+marrow+biopsy+-+Acute+myeloid+leukemia+with+t(8%3B21).svs" target="_blank">Slide 17.17 Acute myeloid leukemia t(8;21)</a></li>
             <li><a href="/files/17.18+Bone+marrow+aspirate+-+Acute+myeloid+leukemia+with+inversion+16.svs" target="_blank">Slide 17.18 Acute myeloid leukemia with inversion 16</a></li>
             <li><a href="/files/17.19+Bone+marrow+biopsy+-+Acute+myeloid+leukemia+with+inversion+16.svs" target="_blank">Slide 17.19 Acute myeloid leukemia with inversion 16</a></li>
             <li><a href="/files/17.20+Bone+marrow+aspirate+-+Acute+myeloid+leukemia+with+t(3%3B3).svs" target="_blank">Slide 17.20 Acute myeloid leukemia with t(3;3)</a></li>
             <li><a href="/files/17.21+Blood+-+Acute+myeloid+leukemia+with+increased+eosinophils+and+basophils.svs" target="_blank">Slide 17.21 Acute myeloid leukemia with increased eosinophils and basophils</a></li>
             <li><a href="/files/17.22+Bone+marrow+aspirate+-+Acute+myeloid+leukemia+with+myelodysplastia-related+change.svs" target="_blank">Slide 17.22 Acute myeloid leukemia with myelodysplasia-related change</a></li>
             <li><a href="/files/17.23+Bone+marrow+biopsy+-+Acute+myeloid+leukemia+with+myelodysplasia-related+change.svs" target="_blank">Slide 17.23 Acute myeloid leukemia with myelodysplasia-related change</a></li>
             <li><a href="/files/17.24+Bone+marrow+biopsy+-+Therapy-related+acute+myeloid+leukemia.svs" target="_blank">Slide 17.24 Therapy-related acute myeloid leukemia</a></li>
             <li><a href="/files/17.25+Bone+marrow+biopsy+Ph%2B+acute+myeloid+leukemia.svs" target="_blank">Slide 17.25 Ph+ acute myeloid leukemia</a></li>
             <li><a href="/files/17.26+Lymph+node+-+Myeloid+sarcoma.svs" target="_blank">Slide 17.26 Myeloid sarcoma</a></li>
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 18 &nbsp &nbsp Congenital and Inherited Myeloid Neoplasms</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+18.++Congenital+and+inherited+myeloid+neoplasms+v3.pdf">Study Notes - Congenital and Inherited Myeloid Neoplasm</a></li>
	     <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+18/Figure+18.01+Mechanism+of+thrombocytopenia+in+MN+with+germline+mutations.jpg">Mechanism of thrombocytopenia in myeloid neoplasm with germline mutations</a></li>
 	  </ul>
       </div>

     <button type="button" class="collapsible">Lesson 19 &nbsp &nbsp Myelodysplastic-Myeloproliferative Neoplasms</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+19.++Myelodysplastic-myeloproliferative+neoplasms+v3.pdf">Study Notes - Myelodysplastic-Myeloproliferative Neoplasms</a></li>
	     <li><a href="/files/19.01+Blood+-+Chronic+myelomonocytic+leukemia.svs" target="_blank">Slide 19.01 Chronic myelomonocytic leukemia</a></li>
             <li><a href="/files/19.02+Bone+marrow+aspirate+-+Chronic+myelomonocytic+leukemia.svs" target="_blank">Slide 19.02 Chronic myelomonocytic leukemia</a></li>
             <li><a href="/files/19.07+Prussian+blue+stain+-+MDS-MPN-RST.svs" target="_blank">Slide 19.07 MDS-MPN-RST, Prussian blue stain</a></li>
             <li><a href="/files/19.08+Blood+-+Atypical+chronic+myeloid+leukemia.svs" target="_blank">Slide 19.08 Atypical chronic myeloid leukemia</a></li>
             <li><a href="/files/19.10+Bone+marrow+biopsy+-+Atypical+chronic+myeloid+leukemia.svs" target="_blank">Slide 19.10 Atypical chronic myeloid leukemia, bone marrow</a></li>		     
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 20 &nbsp &nbsp Eosinophil, Mast Cell, and Related Disorders</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+21.++Histiocytic+and+dendritic+cell+lesions+v3.pdf">Study Notes - Eosinophils, Mast Cells, and Related Disorders</a></li>
	     <li><a href="/files/20.01+Blood+-+Chronic+eosinophilic+leukemia.svs" target="_blank">Slide 20.01 Chronic eosinophilic leukemia</a></li>		     
             <li><a href="/files/20.02+Bone+marrow+-+Chronic+eosinophilic+leukemia.svs" target="_blank">Slide 20.02a Chronic eosinophilic leukemia</a></li>		     
             <li><a href="/files/20.02.1+Bone+marrow+-+Chronic+eosinophilic+leukemia+with+increased+blasts.svs" target="_blank">Slide 20.02b Chronic eosinophilic leukemia with increased blasts</a></li>		     
	     <li><a href="/files/20.04+Bone+marrow+-+Systemic+mastocytosis+associated+with+fibrosis.svs" target="_blank">Slide 20.04 Systemic mastocytosis</a></li>		     
             <li><a href="/files/20.05+Bone+marrow+-+Systemic+mastocytosis+associated+with+lymphoid+aggregates.svs" target="_blank">Slide 20.05 Systemic mastocytosis with lymphoid aggregates</a></li>		     
             <li><a href="/files/20.06+Bone+marrow+-+Systemic+mastocytosis+with+associated+chronic+myelomonocytic+leukemia.svs" target="_blank">Slide 20.06 Systemic mastocytosis with associated chronic myelomonocytic leukemia</a></li>		     
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 21 &nbsp &nbsp Histiocytic and Dendritic Cell Lesions</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+21.++Histiocytic+and+dendritic+cell+lesions+v3.pdf">Study Notes - Histiocytic and Dendritic Cell Lesions</a></li>
	     <li><a href="/files/21.01+Langerhan+cell+histiocytosis.svs" target="_blank">Slide 21.01 Langerhans cell histiocytosis</a></li>
             <li><a href="/files/21.02+Langerhan+cell+histiocytosis.svs" target="_blank">Slide 21.02 Langerhans cell histiocytosis</a></li>
             <li><a href="/files/21.03+Langerhan+cell+sarcoma.svs" target="_blank">Slide 21.03 Langerhans cell sarcoma</a></li>
             <li><a href="/files/21.04+Rosai-Dorfman+disease.svs" target="_blank">Slide 21.04 Rosai-Dorfman disease</a></li>
             <li><a href="/files/21.05+Rosai-Dorfman+disease.svs" target="_blank">Slide 21.05 Rosai-Dorfman disease</a></li>
             <li><a href="/files/21.06+Rosai-Dorfman+disease.svs" target="_blank">Slide 21.06 Rosai-Dorfman disease</a></li>
             <li><a href="/files/21.07+Follicular+dendritic+cell+sarcoma.svs" target="_blank">Slide 21.07 Follicular dendritic cell sarcoma</a></li>
             <li><a href="/files/21.08+Follicular+dendritic+cell+sarcoma+inflammatory+pseudotumor-like.svs" target="_blank">Slide 21.08 Follicular dendritic cell sarcoma, inflammatory pseudotumor-like</a></li>
             <li><a href="/files/21.09+Interdigitating+dendritic+cell+sarcoma.svs" target="_blank">Slide 21.09 Interdigitating dendritic cell sarcoma</a></li>
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 22 &nbsp &nbsp Spleen</button>
       <div class="content">
           <ul>
             <li><a href="../static/lesson-files/Lesson 22. Eosinophil, mast cell, and related disorders.pdf">Coming soon</a></li>
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 23 &nbsp &nbsp Pediatric Hematologic Disorders</button>
       <div class="content">
             <ul>
             <li><a href="../static/lesson-files/Lesson 1. Anemia.pdf">Coming soon</a></li>
         </ul>
       </div>

     <button type="button" class="collapsible">Lesson 24 &nbsp &nbsp Ancillary Methods in Hematopathology</button>
       <div class="content">
           <ul>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Notes+v3/Lesson+24.++Ancillary+diagnostic+tools+in+hematopathology+v3.pdf">Study Notes - Ancillary Diagnostic Tools in Hematopathology</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+1.pdf">Figure 24.01 Procedures of immunohistochemistry and flow cytometry</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+2.pdf">Image 24.02 Immunohistochemical staining pattern of selected markers</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+3.pdf">Image 24.03 Flow cytometry histograms of an angioimmunoblastic lymphoma</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+4.pdf">Figure 24.04 Procedures of conventional cytogenetics, fluorescense in situ hybridization, and array comparative genomic hybridization</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+5.pdf">Image 24.05 Karyotype of a case of chronic myeloid leukemia</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+6.pdf">Image 24.06 FISH images of a chronic lymphocytic leukemia</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+7.pdf">Image 24.07 aCGH result of a case of transformed large B-cell lymphoma</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+8.pdf">Figure 24.08 Procedures of IGH and TCR clonality studies, reverse transcriptase PCR, and next generation sequencing</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+9.pdf">Image 24.09 Electropherogram pattern of IGH and TCR gene rearrangements</a></li>
             <li><a href="https://e-booktoc.s3.us-east-2.amazonaws.com/Lesson+24/Lesson+24+figure+10.pdf">Image 24.10 An example of real time quantitative rtPCR in chronic myeloid leukemia</a></li>
         </ul>
      </div>
  </div>

    <br>
  <div class="container">
    <h4 class = "subsection" class = "subtitle" id = 'Lessons'>Tools</h4>

    <button type="button" class="collapsible">Cell Counter</button>
      <div class="content">
            <ul>
            <li><a href="https://studio.code.org/projects/applab/ZkG62VBji_wViMygAGWsObu2PCSidCTXu6VLTTutk18" target="_blank">Ashley's Cell Counter 5000   (created by Code Studio)</a></li>
        </ul>
      </div>

<br><br><br>
{% endblock %}

